.photo {
      
    padding: 30px;
    width: 40%;
    text-align: center;
    float: left;
}


img { 
    max-height: 300px; 
}

h1 {
    color: #515151;
    font-weight: 300;
    padding-top: 15px;
    margin: 0;
    font-size: 30px;
    font-weight: 300;
  }

  h2 {
   color: #515151;
   margin: 0;
   text-transform: uppercase;
   font-weight: 500;
  }
 
  h4 { 
    margin: 0;
    color: #727272;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 12px
  }
 
  p { 
    font-size: 12px; 
    line-height: 20px;
    color: #727272;
    padding: 20px 0;
    margin: 0;
 }

 .size{
  padding: 2%;
 }
 .small{
  border: none;
  border-left: .2px rgba(128, 128, 128, 0.228) solid;
  border-bottom:.2px gray solid ;
  padding: 3%;
  width: 30px;
  margin-right: 10px;
 }
 .small:hover{
  background: rgb(13, 202, 10);
  transform: scale(1.5);  
  color:white;
  font-weight: bolder;
 }
 .button {

    outline: 0;
    border: 0;
    background: none;
    border: 1px solid #d9d9d9;
    padding: 8px 0px;
    margin-bottom: 30px;
    color: #515151;
    text-transform: uppercase;
    width: 125px;
    font-family: inherit;
    margin-right: 5px;
    transition: all 0.3s ease;
    font-weight: 500;

  }

  .description {
      
    padding: 20px;
    float: left;
    width: 60%;

  }
.button:hover{
      
    background: darken(white, 2%);
    border: 1px solid #aedaa6;
    color: #aedaa6;
    cursor: pointer;
    transform: scale(1.1);  
    
  }
.selected{
  background: rgb(13, 202, 10);
  color: white;
  border: none;
  border-left: 1px rgba(128, 128, 128, 0.228) solid;
  border-bottom:1px gray solid ;
  padding: 3%;
  width: 30px;
  margin-right: 10px;
}
  .showcard{
    display: flex;
    width: 80%;
    justify-items:center ;
    align-items: center;
    margin: auto;
    justify-content: space-around;
    gap: 10%;
    max-width: 700px;
    margin-top: 5%;

   }

   .photo:hover{
    transform: scale(1.1);  
   }
   
  @media screen and (max-width : 600px) {
    
  .showcard{
    display: grid;
  }
  .description {
      width:80%;
    padding: 30px;
    float: left;

  }
  .photo {
    padding: 30px;
    width: 80%;
    text-align: center;
}
 
 }

 
 